@namespace WardrobeManager.Presentation.Components.FormItems

@using WardrobeManager.Shared.Models;
@using WardrobeManager.Shared.Enums;
@using WardrobeManager.Presentation.Services.Implementation;
@using WardrobeManager.Presentation.Services.Interfaces;

@using WardrobeManager.Shared.Services.Implementation;
@using WardrobeManager.Shared.Services.Interfaces;

@if (Orientation == "vertical" || Orientation == "Vertical") {
    <div class="flex flex-col justify-between pb-4 gap-3 w-full @TextColorCss">
        <label class="@TextColorCss">
            @Label
        </label>

        @ChildContent
    </div>
}
else {
    <div class="flex flex-row justify-between items-center pb-4 w-full">
        <label class="@TextColorCss">
            @Label
        </label>

        @ChildContent
    </div>
}

@code {
    [Parameter]
    public required string Label { get; set; }

    [Parameter]
    public string Orientation { get; set; } = "horizontal";

    [Parameter]
    public required RenderFragment ChildContent { get; set; }

    [Parameter] public string TextColorCss { get; set; } = string.Empty;
}
