@namespace WardrobeManager.Presentation.Components.Shared

@* As of now, tags are not meant to be clicked *@
<button class="py-1 px-2 small-text hover:scale-105 @AdditionalCss">
    @Label
</button>

@code {
    [Parameter]
    public required string Label { get; set; }

    [Parameter] public string AdditionalCss { get; set; } = string.Empty;
}
