@page "/"

@namespace WardrobeManager.Presentation.Pages

<PageTitle>Welcome - WardrobeManager</PageTitle>

@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.Extensions.Configuration


<div class="h-full flex flex-col gap-12 items-center bg-primary-content">
    <div class="flex flex-col items-center gap-1">
        <h1 class="title-text text-primary">@ProjectConstants.ProjectName</h1>
        @* fixlater *@
        <p class="subtitle-text text-primary">Welcome to the world’s first ever all-in-one wardrobe management solution</p>
        
    </div>
    <img src="/img/home-background.jpg" class="h-3/5 rounded-2xl"/>
</div>

@code {
}