@page "/"

@namespace WardrobeManager.Presentation.Pages

<PageTitle>Welcome - WardrobeManager</PageTitle>

@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.Extensions.Configuration

@inject NavigationManager Navigation
@inject IConfiguration Configuration

<div class="h-full">
    <h1 class="title-text text-base-content">Public welcome page</h1>

    <style>
        .button {
            display: inline-block;
            padding: 10px 20px;
            margin: 5px;
            border: none;
            cursor: pointer;
            font-size: 16px;
            text-align: center;
        }
    </style>
    <h1>Color Readability Test</h1>
</div>
