@page "/"

@namespace WardrobeManager.Presentation.Pages

<PageTitle>Welcome - WardrobeManager</PageTitle>

@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.Extensions.Configuration

@inject NavigationManager Navigation
@inject IConfiguration Configuration

<div class="h-full">
    <h1 class="title-text text-base-content">Public welcome page</h1>

    <style>
        .button {
            display: inline-block;
            padding: 10px 20px;
            margin: 5px;
            border: none;
            cursor: pointer;
            font-size: 16px;
            text-align: center;
        }
    </style>
    <h1>Color Readability Test</h1>


    <button class="button text-primary bg-base-100">Primary on Base-100</button>
    <button class="button text-primary-content bg-base-100">Primary-content on Base-100</button>
    <button class="button text-secondary bg-base-100">Secondary on Base-100</button>
    <button class="button text-secondary-content bg-base-100">Secondary-content on Base-100</button>
    <button class="button text-accent bg-base-100">Accent on Base-100</button>
    <button class="button text-accent-content bg-base-100">Accent-content on Base-100</button>
    <button class="button text-base-content bg-base-100">Base-content on Base-100</button>

    <h2>Background: Base-200</h2>
    <button class="button text-primary bg-base-200">Primary on Base-200</button>
    <button class="button text-primary-content bg-base-200">Primary-content on Base-200</button>
    <button class="button text-secondary bg-base-200">Secondary on Base-200</button>
    <button class="button text-secondary-content bg-base-200">Secondary-content on Base-200</button>
    <button class="button text-accent bg-base-200">Accent on Base-200</button>
    <button class="button text-accent-content bg-base-200">Accent-content on Base-200</button>
    <button class="button text-base-content bg-base-200">Base-content on Base-200</button>

    <h2>Background: Base-300</h2>
    <button class="button text-primary bg-base-300">Primary on Base-300</button>
    <button class="button text-primary-content bg-base-300">Primary-content on Base-300</button>
    <button class="button text-secondary bg-base-300">Secondary on Base-300</button>
    <button class="button text-secondary-content bg-base-300">Secondary-content on Base-300</button>
    <button class="button text-accent bg-base-300">Accent on Base-300</button>
    <button class="button text-accent-content bg-base-300">Accent-content on Base-300</button>
    <button class="button text-base-content bg-base-300">Base-content on Base-300</button>


    <!-- Primary -->
    @* <button class="button bg-primary text-primary-content"> *@
    @*     Primary-content on         Primary *@
    @* </button> *@
    @* <button class="button bg-primary text-secondary-content"> *@
    @*     Secondary-content on         Primary *@
    @* </button> *@
    @* <button class="button bg-primary text-accent-content"> *@
    @*     Accent-content on         Primary *@
    @* </button> *@
    @* <button class="button bg-primary text-base-content"> *@
    @*     Base-content on         Primary *@
    @* </button> *@
    @* <button class="button bg-primary text-base-100"> *@
    @*     Base-100 on         Primary *@
    @* </button> *@
    @* <button class="button bg-primary text-base-200"> *@
    @*     Base-200 on         Primary *@
    @* </button> *@
    @* <button class="button bg-primary text-base-300"> *@
    @*     Base-300 on         Primary *@
    @* </button> *@
    @*  *@
    @* <!-- Primary-content --> *@
    @* <button class="button bg-primary-content text-primary"> *@
    @*     Primary on         Primary-content *@
    @* </button> *@
    @* <button class="button bg-primary-content text-secondary"> *@
    @*     Secondary on         Primary-content *@
    @* </button> *@
    @* <button class="button bg-primary-content text-accent"> *@
    @*     Accent on         Primary-content *@
    @* </button> *@
    @* <button class="button bg-primary-content text-base-100"> *@
    @*     Base-100 on         Primary-content *@
    @* </button> *@
    @* <button class="button bg-primary-content text-base-200"> *@
    @*     Base-200 on         Primary-content *@
    @* </button> *@
    @* <button class="button bg-primary-content text-base-300"> *@
    @*     Base-300 on         Primary-content *@
    @* </button> *@
    @*  *@
    @* <!-- Secondary --> *@
    @* <button class="button bg-secondary text-primary-content"> *@
    @*     Primary-content on         Secondary *@
    @* </button> *@
    @* <button class="button bg-secondary text-secondary-content"> *@
    @*     Secondary-content on         Secondary *@
    @* </button> *@
    @* <button class="button bg-secondary text-accent-content"> *@
    @*     Accent-content on         Secondary *@
    @* </button> *@
    @* <button class="button bg-secondary text-base-content"> *@
    @*     Base-content on         Secondary *@
    @* </button> *@
    @* <button class="button bg-secondary text-base-100"> *@
    @*     Base-100 on         Secondary *@
    @* </button> *@
    @* <button class="button bg-secondary text-base-200"> *@
    @*     Base-200 on         Secondary *@
    @* </button> *@
    @* <button class="button bg-secondary text-base-300"> *@
    @*     Base-300 on         Secondary *@
    @* </button> *@
    @*  *@
    @* <!-- Secondary-content --> *@
    @* <button class="button bg-secondary-content text-primary"> *@
    @*     Primary on         Secondary-content *@
    @* </button> *@
    @* <button class="button bg-secondary-content text-secondary"> *@
    @*     Secondary on         Secondary-content *@
    @* </button> *@
    @* <button class="button bg-secondary-content text-accent"> *@
    @*     Accent on         Secondary-content *@
    @* </button> *@
    @* <button class="button bg-secondary-content text-base-100"> *@
    @*     Base-100 on         Secondary-content *@
    @* </button> *@
    @* <button class="button bg-secondary-content text-base-200"> *@
    @*     Base-200 on         Secondary-content *@
    @* </button> *@
    @* <button class="button bg-secondary-content text-base-300"> *@
    @*     Base-300 on         Secondary-content *@
    @* </button> *@
    @*  *@
    @* <!-- Accent --> *@
    @* <button class="button bg-accent text-primary-content"> *@
    @*     Primary-content on         Accent *@
    @* </button> *@
    @* <button class="button bg-accent text-secondary-content"> *@
    @*     Secondary-content on         Accent *@
    @* </button> *@
    @* <button class="button bg-accent text-accent-content"> *@
    @*     Accent-content on         Accent *@
    @* </button> *@
    @* <button class="button bg-accent text-base-content"> *@
    @*     Base-content on         Accent *@
    @* </button> *@
    @* <button class="button bg-accent text-base-100">Base-100 on Accent</button> *@
    @* <button class="button bg-accent text-base-200">Base-200 on Accent</button> *@
    @* <button class="button bg-accent text-base-300">Base-300 on Accent</button> *@
    @*  *@
    @* <!-- Accent-content --> *@
    @* <button class="button bg-accent-content text-primary"> *@
    @*     Primary on         Accent-content *@
    @* </button> *@
    @* <button class="button bg-accent-content text-secondary"> *@
    @*     Secondary on         Accent-content *@
    @* </button> *@
    @* <button class="button bg-accent-content text-accent"> *@
    @*     Accent on         Accent-content *@
    @* </button> *@
    @* <button class="button bg-accent-content text-base-100"> *@
    @*     Base-100 on         Accent-content *@
    @* </button> *@
    @* <button class="button bg-accent-content text-base-200"> *@
    @*     Base-200 on         Accent-content *@
    @* </button> *@
    @* <button class="button bg-accent-content text-base-300"> *@
    @*     Base-300 on         Accent-content *@
    @* </button> *@
    @*  *@
    @* <!-- Base-100 --> *@
    @* <button class="button bg-base-100 text-primary-content"> *@
    @*     Primary-content on         Base-100 *@
    @* </button> *@
    @* <button class="button bg-base-100 text-secondary-content"> *@
    @*     Secondary-content on         Base-100 *@
    @* </button> *@
    @* <button class="button bg-base-100 text-accent-content"> *@
    @*     Accent-content on         Base-100 *@
    @* </button> *@
    @* <button class="button bg-base-100 text-base-content"> *@
    @*     Base-content on         Base-100 *@
    @* </button> *@
    @* <button class="button bg-base-100 text-base-200"> *@
    @*     Base-200 on         Base-100 *@
    @* </button> *@
    @* <button class="button bg-base-100 text-base-300"> *@
    @*     Base-300 on         Base-100 *@
    @* </button> *@
    @*  *@
    @* <!-- Base-200 --> *@
    @* <button class="button bg-base-200 text-primary-content"> *@
    @*     Primary-content on         Base-200 *@
    @* </button> *@
    @* <button class="button bg-base-200 text-secondary-content"> *@
    @*     Secondary-content on         Base-200 *@
    @* </button> *@
    @* <button class="button bg-base-200 text-accent-content"> *@
    @*     Accent-content on         Base-200 *@
    @* </button> *@
    @* <button class="button bg-base-200 text-base-content"> *@
    @*     Base-content on         Base-200 *@
    @* </button> *@
    @* <button class="button bg-base-200 text-base-100"> *@
    @*     Base-100 on         Base-200 *@
    @* </button> *@
    @* <button class="button bg-base-200 text-base-300"> *@
    @*     Base-300 on         Base-200 *@
    @* </button> *@
    @*  *@
    @* <!-- Base-300 --> *@
    @* <button class="button bg-base-300 text-primary-content"> *@
    @*     Primary-content on         Base-300 *@
    @* </button> *@
    @* <button class="button bg-base-300 text-secondary-content"> *@
    @*     Secondary-content on         Base-300 *@
    @* </button> *@
    @* <button class="button bg-base-300 text-accent-content"> *@
    @*     Accent-content on         Base-300 *@
    @* </button> *@
    @* <button class="button bg-base-300 text-base-content"> *@
    @*     Base-content on         Base-300 *@
    @* </button> *@
    @* <button class="button bg-base-300 text-base-100"> *@
    @*     Base-100 on         Base-300 *@
    @* </button> *@
    @* <button class="button bg-base-300 text-base-200"> *@
    @*     Base-200 on         Base-300 *@
    @* </button> *@
    @*  *@
    @* <!-- Base-content --> *@
    @* <button class="button bg-base-content text-primary"> *@
    @*     Primary on         Base-content *@
    @* </button> *@
    @* <button class="button bg-base-content text-secondary"> *@
    @*     Secondary on         Base-content *@
    @* </button> *@
    @* <button class="button bg-base-content text-accent"> *@
    @*     Accent on         Base-content *@
    @* </button> *@
    @* <button class="button bg-base-content text-base-100"> *@
    @*     Base-100 on         Base-content *@
    @* </button> *@
    @* <button class="button bg-base-content text-base-200"> *@
    @*     Base-200 on         Base-content *@
    @* </button> *@
    @* <button class="button bg-base-content text-base-300"> *@
    @*     Base-300 on         Base-content *@
    @* </button> *@
</div>
