@page "/onboarding"
@using WardrobeManager.Presentation.Components.FormItems
@using WardrobeManager.Presentation.Components.Onboarding
@using WardrobeManager.Shared.StaticResources
@namespace WardrobeManager.Presentation.Pages.Public

<PageTitle>Onboarding - WardrobeManager</PageTitle>


<h1 class="text-4xl">Onboarding!</h1>
