@namespace WardrobeManager.Presentation.Components.FormItems

@using WardrobeManager.Shared.Models;
@using WardrobeManager.Shared.Enums;
@using WardrobeManager.Presentation.Services.Implementation;
@using WardrobeManager.Presentation.Services.Interfaces;

@using WardrobeManager.Shared.Services.Implementation;
@using WardrobeManager.Shared.Services.Interfaces;

<div class="w-3/4 flex flex-row items-center justify-end text-sm gap-2">
    <input type="date" class="w-1/2 py-3  rounded bg-primary text-primary-content" />
    <p>To</p>
    <input type="date" class="w-1/2 py-3  rounded bg-primary text-primary-content" />
</div>

@code {
}
