@namespace WardrobeManager.Presentation.Components.FormItems

@using WardrobeManager.Shared.Models;
@using WardrobeManager.Shared.Enums;
@using WardrobeManager.Presentation.Services.Implementation;
@using WardrobeManager.Presentation.Services.Interfaces;

@using WardrobeManager.Shared.Services.Implementation;
@using WardrobeManager.Shared.Services.Interfaces;

@typeparam TItem

<div class="flex flex-row justify-between pb-4 items-center">
    <label class="text-primary">
        @Label
    </label>
    <select class="select rounded-md bg-primary text-primary-content w-2/4">
        @foreach (var category in Enum.GetValues(typeof(TItem)))
        {
            <option value="@category">@category</option>
        }
    </select>
</div>

@code {
    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public TItem MyEnum { get; set; }
}
