@namespace WardrobeManager.Presentation.Components.FormItems

@using WardrobeManager.Shared.Models;
@using WardrobeManager.Shared.Enums;
@using WardrobeManager.Presentation.Services.Implementation;
@using WardrobeManager.Presentation.Services.Interfaces;

@using WardrobeManager.Shared.Services.Implementation;
@using WardrobeManager.Shared.Services.Interfaces;

@typeparam TItem

<select class="select rounded-md bg-@bg text-@fg">
    @foreach (var category in Enum.GetValues(typeof(TItem)))
    {
        <option value="@category">@category</option>
    }
</select>

@code {
    [Parameter]
    public string bg { get; set; } = "primary";
    [Parameter]
    public string fg { get; set; } = "primary-content";

    [Parameter]
    public TItem MyEnum { get; set; }
}
