@namespace WardrobeManager.Presentation.Components.FormItems

@using WardrobeManager.Shared.Models;
@using WardrobeManager.Shared.Enums;
@using WardrobeManager.Presentation.Services.Implementation;
@using WardrobeManager.Presentation.Services.Interfaces;

@using WardrobeManager.Shared.Services.Implementation;
@using WardrobeManager.Shared.Services.Interfaces;

<div class="flex flex-row justify-between items-center py-3 px-4 rounded-2xl bg-base-200">
    <input type="search" @bind="_value" @bind:event="oninput" placeholder="Green T-Shirt" class="bg-base-200 outline-none border-none"/>
    <span class="bi bi-search" />
</div>

@code {
    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }
    
    // filter context isn't doing this automatically for some reason
    [Parameter]
    public EventCallback FetchClothing { get; set; }

    private string _value
    {
        get => Value;
        set
        {
            if (Value != value)
            {
                Value = value;
                ValueChanged.InvokeAsync(value); // Notify the parent of the change
                FetchClothing.InvokeAsync();
            }
        }
    }
}
