@using WardrobeManager.Shared.StaticResources
@namespace WardrobeManager.Presentation.Layout

@inject NavigationManager Navigation


<AuthorizeView>
    <Authorized>
    </Authorized>
    <NotAuthorized>
        <footer class="flex flex-row justify-center items-center w-full">
            <Text class="py-4 text-base-content font-semibold">
                <p>
                    @ProjectConstants.ProjectName - Built By Musa Ahmed | Since 2024
                </p>
            </Text>
        </footer>
    </NotAuthorized>
</AuthorizeView>
