@using WardrobeManager.Shared.StaticResources
@namespace WardrobeManager.Presentation.Layout

@inject NavigationManager Navigation


<AuthorizeView>
    <Authorized>
    </Authorized>
    <NotAuthorized>
        <footer class="flex flex-col sm:flex-row justify-center items-center w-full py-4 text-base-content ">
            <span>
                @ProjectConstants.ProjectName - Built By Musa Ahmed
            </span>
            <span>
                <span class="hidden sm:inline">&nbsp;|</span> Since 2024
            </span>
        </footer>
    </NotAuthorized>
</AuthorizeView>
