@inherits LayoutComponentBase

@inject IJSRuntime JSRuntime
@inject INotificationService _notificationService
@inject Initialization sysinfocusComponentsinit
@inject BrowserExtensions browserExtensions

<body class="dark h-full body-text transition-all duration-300 "
     @onclick="sysinfocusComponentsinit.HandleMainLayoutClickEvent">
    <ErrorBoundary @ref="errorBoundary">
        <ChildContent>
            <NavMenu />
            @Body
            <FooterMenu />
        </ChildContent>
        <ErrorContent Context="ex">
            @{
                _notificationService.AddNotification(ex.Message, NotificationType.Error);
                Console.WriteLine(ex.Message);
            }
            <p>@ex.Message</p>
        </ErrorContent>
    </ErrorBoundary>
</body>
<Notifications/>

@code {
    private ErrorBoundary? errorBoundary;


    // This runs every time any page is (fully) reloaded (in the browser)
    protected override async Task OnInitializedAsync()
    {
        // var res = await _apiService.DoesAdminUserExist();
        // if (res is false)
        // {
        //     _navManager.NavigateTo("/onboarding");
        // }
        //
        // await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await browserExtensions.SetToLocalStorage("theme", "dark");
            await browserExtensions.SetToLocalStorage("theme", "dark");
            await sysinfocusComponentsinit.InitializeTheme();
        }
    }

    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }

}