@inherits LayoutComponentBase
<div class="min-h-screen text-white 
    bg-gradient-to-b from-emerald-700 to-emerald-900">
    <NavMenu />

    <main class="py-4 px-8">
            @Body
    </main>
</div>
