@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<div class="h-full  text-base-content flex flex-col body-text">
    <NavMenu />

    <main class="flex flex-grow h-full ">
        @Body
    </main>


    <Footer />
</div>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) // Only run on the initial render
        {
            // Manually call theme-change js functions cus it tries to do it on page load and that
            // doesn't jive with the blazor wasm system
            await JSRuntime.InvokeVoidAsync("themeSelect");
            await JSRuntime.InvokeVoidAsync("themeBtn");
            await JSRuntime.InvokeVoidAsync("themeToggle");
            await JSRuntime.InvokeVoidAsync("console.log", "theme-changel loaded");
        }
    }
}
