@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@using WardrobeManager.Presentation.Components.Global
@using WardrobeManager.Presentation.Services.Interfaces;
@using WardrobeManager.Presentation.Services.Implementation;
@inject INotificationService _notificationService;

<div class="h-full  text-base-content body-text transition-all duration-300">
    <NavMenu />

    <ErrorBoundary @ref="errorBoundary">
        <ChildContent>
                @Body
            <Footer />
        </ChildContent>
        <ErrorContent Context="ex">
            @{
                _notificationService.AddNotification(ex.Message, NotificationType.Error);
            }
        </ErrorContent>
    </ErrorBoundary>

</div>
<Notifications />


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            // Manually call theme-change js functions cus it tries to do it on page load and that
            // doesn't jive with the blazor wasm system

            // For some reason onafterrenderasync is running before the <select> element actually exists in the DOM
            // This is the case when i run this code in NavMenu.razor too
            // So for now I'm just gonna put a delay here and hope it works
            await Task.Delay(5000);
            await JSRuntime.InvokeVoidAsync("themeSelect");

            // Uncomment these if you want to change the theme with a different method
            // await JSRuntime.InvokeVoidAsync("themeBtn");
            // await JSRuntime.InvokeVoidAsync("themeToggle");
            await JSRuntime.InvokeVoidAsync("console.log", "themeSelect loaded");
        }
    }

    private ErrorBoundary? errorBoundary;

    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }
}
