@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@inject INotificationService _notificationService

<div class="h-full  text-base-content body-text transition-all duration-300">
    <ErrorBoundary @ref="errorBoundary">
        <ChildContent>
            <div class="h-[10%]">
                <NavMenu/>
            </div>
            <div class="h-[90%]">
                @Body
            </div>
        @*
            <div class="h-[7%]">
                <FooterMenu/>
            </div>
            *@
        </ChildContent>
        <ErrorContent Context="ex">
            @{
                _notificationService.AddNotification(ex.Message, NotificationType.Error);
            }
        </ErrorContent>
    </ErrorBoundary>
</div>
<Notifications/>

@code {
    private ErrorBoundary? errorBoundary;

    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }

}