@inherits MvvmLayoutComponentBase<MainLayoutViewModel>

<body class="dark min-h-full  body-text transition-all duration-300 flex flex-col relative"
      @onclick="ViewModel.HandleMainLayoutClickEvent">
<ErrorBoundary @ref="ViewModel.ErrorBoundary">
    <ChildContent>
        <NavMenu/>
        @Body
        <FooterMenu/>
    </ChildContent>
    <ErrorContent Context="ex">
        @{
            // fixlater: In the future, we should maybe not display raw exceptions to the user
            _notificationService.AddNotification($"Unhandled Exception: {ex.Message}", NotificationType.Error);
        }
    </ErrorContent>
</ErrorBoundary>
<Notifications/>
</body>