@inherits LayoutComponentBase
<div class="max-h-screen min-h-screen overflow-hidden text-white 
    bg-gradient-to-b from-emerald-700 to-emerald-900">
    <NavMenu />

    <main class="py-4 px-8">
            @Body
    </main>
</div>
