<nav 
    class="flex flex-row justify-center bg-gradient-to-r from-emerald-600 to-emerald-700
    gap-12 h-24 mb-20 items-center text-white font-serif text-2xl"
>   
    <a href="/" class="">Home</a> 
    <a href="/clothing" class="">Clothing</a>
</nav>

