@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject IJSRuntime JsRuntime

<nav
    class="bg-base-300 text-base-content  w-full flex flex-row justify-between lg:justify-around py-4 px-4 items-center">

    @* Left side  *@
    <AuthorizeView>
        <Authorized>
                <a class="flex flex-row gap-6 items-center" href="/dashboard">
                    <img class="w-16 h-16 rounded-xl" src="/img/icon.webp"/>
                    <p class="subtitle-text text-base-content ">@ProjectConstants.ProjectName</p>
                </a>
        </Authorized>
        <NotAuthorized>
            <a class="flex flex-row gap-6 items-center" href="/">
                <img class="w-16 h-16 rounded-xl" src="/img/icon.webp"/>
                <p class="subtitle-text text-base-content ">@ProjectConstants.ProjectName</p>
            </a>
        </NotAuthorized>
    </AuthorizeView>

    @* Middle *@
    <AuthorizeView>
        <Authorized>
            <div class="hidden lg:flex flex-row justify-center gap-5">
                <NavLink href="/add" class="btn btn-secondary body-text text-secondary-content">Add Clothing Item</NavLink>
                <NavLink href="/clothing" class="btn btn-secondary body-text text-secondary-content">View Clothing Items</NavLink>
            </div>
        </Authorized>
        <NotAuthorized>
        </NotAuthorized>
    </AuthorizeView>

    @* Right side *@
    <div>
        <div class="hidden lg:flex flex-row gap-2 items-center">
            <AuthorizeView>
                <Authorized>
                    <div class="dropdown dropdown-hover dropdown-end">
                        <a tabindex="0" role="button" class="flex flex-row gap-3 items-center text-base-content hover:bg-accent hover:text-accent-content px-3 py-2 rounded transition-all duration-300">
                            <p class="body-text font-bold">@context.User.Identity.Name</p>
                            <div class="avatar ">
                                <div class="w-12 rounded-full">
                                    @* https://blog.jepsen.ninja/gravatar-c-api *@
                                    <img src="@ProjectConstants.ProfileImage"/>
                                </div>
                            </div>
                            <button @onclick="Logout" class="bi bi-door-open-fill text-3xl text-primary"></button>
                        </a>
                        <div tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-4 shadow flex flex-col gap-5">
                            <ChangeTheme/>
                        </div>
                    </div>
                </Authorized>

                <NotAuthorized>
                    <a class="flex flex-row gap-3 items-center" href="/login">
                        <p class="body-text text-base-content">Log in</p>
                        <div class="avatar placeholder">
                            <div class="bg-neutral text-neutral-content w-12 rounded-full">
                                <span class="text-3xl">D</span>
                            </div>
                        </div>
                    </a>
                </NotAuthorized>
            </AuthorizeView>
        </div>
        <div class="dropdown dropdown-bottom dropdown-end lg:hidden">
            <div tabindex="0" role="button" class="">
                <span class="bi bi-list text-2xl text-accent"></span>
            </div>
            <div tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
                <div class="flex flex-col justify-center gap-5">
                    <NavLink href="/add" class="btn btn-secondary body-text text-secondary-content">Add Clothing Item</NavLink>
                    <NavLink href="/clothing" class="btn btn-secondary body-text text-secondary-content">View Clothing Items</NavLink>
                </div>
            </div>
        </div>
    </div>
</nav>


@code {
    public async Task Logout()
    {
        await _accountManagement.LogoutAsync();
        _navManager.NavigateTo("/");
    }


}