@using WardrobeManager.Presentation.Components.Public

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <div class="h-full">
                        <div class="h-full flex flex-col justify-center items-center bg-base-100 gap-5">
                            <h1 class="subtitle-text">Please wait while WardrobeManager loads...</h1>
                            <span class="loading loading-dots loading-lg text-primary-content"></span>
                        </div>
                    </div>
                </Authorizing>
                <NotAuthorized>
                    <NotAuthenticated />
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
