@namespace WardrobeManager.Presentation.Components.Public


<div class="flex flex-col justify-center items-center w-full h-full">
    <h1 class="title-text text-base-content">You are not authenticated</h1>
    <p class="heading-text text-primary">Plese log in <a class="text-accent" href="/authentication/login">here</a></p>
</div>
