@namespace WardrobeManager.Presentation.Components.Global

@using WardrobeManager.Shared.Models;
@using WardrobeManager.Shared.Enums;
@using WardrobeManager.Presentation.Services.Implementation;
@using WardrobeManager.Presentation.Services.Interfaces;

@using WardrobeManager.Shared.Services.Implementation;
@using WardrobeManager.Shared.Services.Interfaces;


<select data-choose-theme class="rounded-xl px-3 py-1 bg-base-100 text-base-content border-4 border-base-content">
    <optgroup label="Basic Themes">
        <option value="light">Light</option>
        <option value="dark">Dark</option>
    </optgroup>
    <optgroup label="Extra Themes">
        <option value="acid">Acid</option>
        <option value="aqua">Aqua</option>
        <option value="autumn">Autumn</option>
        <option value="black">Black</option>
        <option value="bumblebee">Bumblebee</option>
        <option value="business">Business</option>
        <option value="coffee">Coffee</option>
        <option value="corporate">Corporate</option>
        <option value="cmyk">CMYK</option>
        <option value="cupcake">Cupcake</option>
        <option value="cyberpunk">Cyberpunk</option>
        <option value="dracula">Dracula</option>
        <option value="emerald">Emerald</option>
        <option value="fantasy">Fantasy</option>
        <option value="forest">Forest</option>
        <option value="garden">Garden</option>
        <option value="halloween">Halloween</option>
        <option value="lemonade">Lemonade</option>
        <option value="lofi">Lofi</option>
        <option value="luxury">Luxury</option>
        <option value="night">Night</option>
        <option value="pastel">Pastel</option>
        <option value="retro">Retro</option>
        <option value="synthwave">Synthwave</option>
        <option value="valentine">Valentine</option>
        <option value="wireframe">Wireframe</option>
    </optgroup>
</select>