@namespace WardrobeManager.Presentation.Components.Global

@using WardrobeManager.Presentation.Services.Implementation;
@using WardrobeManager.Presentation.Services.Interfaces;

@inject INotificationService _notificationService


<div class="toast toast-top toast-end">
    @foreach (var notification in _notificationService.Notifications) {
        var cssClass = GetNotificationCssClass(notification.type) ;
        <div class="alert @cssClass">
            <span>@notification.message</span>
            <button class="w-5 h-5" @onclick="(() => Dismiss(notification))"><img src="https://www.svgrepo.com/show/12848/x-symbol.svg" /></button>
        </div>

    }
</div>

@code {
    protected override void OnInitialized() {
        _notificationService.OnChange += StateHasChanged;
    }

    private void Dismiss(NotificationMessage notification)
    {
        _notificationService.RemoveNotification(notification);
    }

    public void Dispose()
    {
        _notificationService.OnChange -= StateHasChanged;
    }

    public string GetNotificationCssClass(NotificationType type)
    {
        return type switch
        {
            NotificationType.Info => "alert-info",
            NotificationType.Success => "alert-success",
            NotificationType.Warning => "alert-warning",
            NotificationType.Error => "alert-error",
            _ => ""
        };
    }
}
