@namespace WardrobeManager.Presentation.Components.Global

@using WardrobeManager.Shared.Models;
@using WardrobeManager.Shared.Enums;
@using WardrobeManager.Presentation.Services.Implementation;
@using WardrobeManager.Presentation.Services.Interfaces;

@using WardrobeManager.Shared.Services.Implementation;
@using WardrobeManager.Shared.Services.Interfaces;

@* As of now, tags are not meant to be clicked *@
<button class="py-1 px-3 small-text btn @AdditionalCss rounded-xl hover:scale-105 transition-all duration-300 w-full" @onclick="CallAction">
    @Label
</button>

@code {
    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public string AdditionalCss { get; set; }
    
    [Parameter]
    public EventCallback OptionalActionToDo { get; set; }

    public void CallAction()
    {
        if (OptionalActionToDo.HasDelegate)
        {
            OptionalActionToDo.InvokeAsync();
        }
    }
}
