@namespace WardrobeManager.Presentation.Components.Navgiation;


<div class="hidden lg:flex flex-row justify-center gap-5">
    <NavLink href="/add" class="btn btn-secondary body-text text-secondary-content">Add Clothing Item</NavLink>
    <NavLink href="/clothing" class="btn btn-secondary body-text text-secondary-content">View Clothing Items</NavLink>
</div>
