@inject ILogger<Test> _logger
@inject IConfiguration _config

@page "/test"
@using WardrobeManager.Shared.DTOs

<div class="flex-col g1">
    <h4>Basic Stepper</h4>
    <Stepper Style="max-width:90%;margin:auto">
        <StepperStep State="StepperState.Complete" Label="Process has been Initiated">1</StepperStep>
        <StepperStep State="StepperState.Complete" Label="Data Collection underway">2</StepperStep>
        <StepperStep State="StepperState.Failed" Label="Processing of collected data">3</StepperStep>
        <StepperStep State="StepperState.Current" Label="Preparation of Reports">4</StepperStep>
        <StepperStep State="StepperState.Initiated" Label="Delivery of Reports">5</StepperStep>
    </Stepper>

    <h4 style="margin-top:3rem">Stepper with Icons</h4>
    <Stepper Style="max-width:600px;margin:auto">
        <StepperStep State="StepperState.Skipped" Label="Initiated">
            <Icon Name="start" Size="20px" Color="inherit" />
        </StepperStep>
        <StepperStep State="StepperState.Complete" Label="Collection">
            <Icon Name="bookmark_manager" Size="20px" Color="inherit" />
        </StepperStep>
        <StepperStep State="StepperState.Failed" Label="Processing">
            <Icon Name="cycle" Size="20px" Color="inherit" />
        </StepperStep>
        <StepperStep State="StepperState.Current" Label="Reporting">
            <Icon Name="bar_chart" Size="20px" Color="inherit" />
        </StepperStep>
        <StepperStep State="StepperState.Pending" Label="Complete">
            <Icon Name="check" Size="20px" Color="inherit" />
        </StepperStep>
    </Stepper>


    <h4 style="margin-top:3rem">Shopping Example</h4>
    <Stepper Style="max-width:600px;margin:auto">
        @foreach (var step in shoppings)
        {
            <StepperStep State="@step.Status" Label="@step.Label" OnClick="() => UpdateStatus(step)">
                <Icon Name="@step.Icon" Size="20px" Color="inherit" />
            </StepperStep>
        }
    </Stepper>
</div>

@code
{
    private Shopping[] shoppings = [
        new(1, "shopping_cart", "Add to Cart") { Status = StepperState.Initiated },
        new(2, "add_home", "Delivery Address"),
        new(3, "credit_card", "Payment Method"),
        new(4, "preview", "Preview Order"),
        new(5, "check", "Complete Order"),
    ];

    private void UpdateStatus(Shopping shopping)
    {
        // Reset all steps to Pending initially
        foreach (var status in shoppings)
            status.Status = StepperState.Pending;

        // Mark steps as Complete upto the step number
        for(int i = 0; i < shopping.No; i++)
            shoppings[i].Status = StepperState.Complete;        
    }

    private record Shopping(int No, string Icon, string Label)
    {
        public StepperState Status { get; set; } = StepperState.Pending;
    };
}